<<<<<<< HEAD
body {font-family: Arial, Helvetica, sans-serif;}

.navbar {
  width: 100%;
  background-color: #005296;
  overflow: auto;
}

.navbar a {
  float: left;
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background-color: #ffffff;
}

.active {
  background-color: #0A93E7;
}

@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
  }
}







li {
  float: left;
}



li a:hover:not(.active) {
  background-color: #ffffff;

}

li a.active {
  color: white;
  background-color: #ffffff;
}

=======
body {font-family: Arial, Helvetica, sans-serif;}

.navbar {
  width: 100%;
  background-color: #005296;
  overflow: auto;
}

.navbar a {
  float: left;
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background-color: #ffffff;
}

.active {
  background-color: #0A93E7;
}

@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
  }
}







li {
  float: left;
}



li a:hover:not(.active) {
  background-color: #ffffff;

}

li a.active {
  color: white;
  background-color: #ffffff;
}

>>>>>>> 1dd3c1370f090a1553c7a6c5fc27f9af1b53e8e4
