<<<<<<< HEAD
body {
  margin: 0;
  padding: 0;
  background: url(../recursos/fondoIndex.jpeg) no-repeat center top;
  background-size: cover;
  font-family: sans-serif;
  height: 100vh;
}

.login-box {
  width: 1700px;
  height: 900px;

  top: 60%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  
}

.login-box label {
  margin: 0;
  padding: 0;
  font:arial;
  font-size:18;
  font-weight: bold;
  display: block;
}

.login-box input {
  width: 100%;
 
}

.login-box input[type="text"], .login-box input[type="password"], .login-box input[type="email"] {
 
  background: transparent;
  height: 40px;
  color: #000;
  font-size: 16px;
}

.login-box input[type="submit"] {
  border: none;
  outline: none;
  height: 40px;
  background: #324c6e;
  color: #fff;
  font-size: 18px;
  border-radius: 20px;
}

.login-box input[type="submit"]:hover {
  cursor: pointer;
  background: #87CEEB;
  color: #000;
}

.login-box a {
  text-decoration: none;
  font-size: 12px;
  line-height: 20px;
  color: #000;
}

.login-box a:hover {
  color: #0101DF;
}


=======
body {
  margin: 0;
  padding: 0;
  background: url(../recursos/fondoIndex.jpeg) no-repeat center top;
  background-size: cover;
  font-family: sans-serif;
  height: 100vh;
}

.login-box {
  width: 1700px;
  height: 900px;

  top: 60%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  
}

.login-box label {
  margin: 0;
  padding: 0;
  font:arial;
  font-size:18;
  font-weight: bold;
  display: block;
}

.login-box input {
  width: 100%;
 
}

.login-box input[type="text"], .login-box input[type="password"], .login-box input[type="email"] {
 
  background: transparent;
  height: 40px;
  color: #000;
  font-size: 16px;
}

.login-box input[type="submit"] {
  border: none;
  outline: none;
  height: 40px;
  background: #324c6e;
  color: #fff;
  font-size: 18px;
  border-radius: 20px;
}

.login-box input[type="submit"]:hover {
  cursor: pointer;
  background: #87CEEB;
  color: #000;
}

.login-box a {
  text-decoration: none;
  font-size: 12px;
  line-height: 20px;
  color: #000;
}

.login-box a:hover {
  color: #0101DF;
}


>>>>>>> 1dd3c1370f090a1553c7a6c5fc27f9af1b53e8e4
